.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

.col-izq {
    background-color: rgb(39, 38, 38);
    min-height: 800px;
}

.nav-item{
    color: white;
    text-decoration: none;
    font-size: 15;
}

.nav-item:hover fa-solid{
    transition: all 1s;
    transform: rotate(360deg);
}